.movie-img {
  width: 400px;
  height: 600px;
}

#bgimg {
  min-height: 100vh;
  background-size: cover;

}

#infoCard {
  opacity: 1;
  display: flex;
  font-family: 'Poppins',sans-serif;
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 480px 1fr;
  grid-gap: 32px;
  backdrop-filter: blur(1px) contrast(80%);
  color: white;
}

.cardContent {
position: relative;
width: 700px;
height: 600px;
padding: 20px;
top:120px;
color: black;
font-weight: 600px;
margin-left: 80px;
background: rgba(255,255,255,.2);
box-shadow: 0 5px 15px rgba(0,2,0,.5);
}
mat-card-subtitle{
  font-weight: bolder;
  font-size: large;
}
.mat-icon{
  transform: scale(2);
}
.movie-detail .set{
  display: inline-block;
  margin-right: 64px;
}
.movie-detail label{
  font-size: 22px;
  color: #f5f1f1;
  display: block;
}
.movie-detail span{
  font-size: 18px;
  
}
.movie-title{
  font-size: 30px;
  padding-top: 40px;
  font-weight: bold;
  background-image: linear-gradient(45deg,rgb(12, 73, 117) 0%, hsla(260,29%,36%,1) 100%);
  background-clip: text;
  color: transparent;
}

.movie-description{
  line-height: 24px;
  font-weight: bold;
}
button{
  color: white;
  background-image: linear-gradient(45deg,rgb(12, 73, 117) 0%, hsla(260,29%,36%,1) 100%);
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}


/* /* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.35s linear;
}
body{
  min-height: 100vh;
  background-size: cover;
}
.container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 480px 1fr;
  grid-gap: 32px;
  backdrop-filter: blur(12px) contrast(80%);
  color: white;

}
.info{
  padding-top: 24px;
  padding-left: 24px;
}
.poster{

  width: 450px;
  height: 600px;
  margin: 20px 0px 20px 0px;
  object-fit: cover;
  overflow: hidden;
  transition: all 1.5s ease-in-out;
}
.poster img:hover{
  transform: scale(1.35) rotateZ(5deg);
}
.info > div{
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 32px;
}
.movie-title{
  font-size: 30px;
  padding-top: 40px;
  font-weight: bold;
  background-image: linear-gradient(45deg,rgb(12, 73, 117) 0%, hsla(260,29%,36%,1) 100%);
  background-clip: text;
  color: transparent;
}
.movie-detail .set{
  display: inline-block;
  margin-right: 64px;
}
.movie-detail label{
  font-size: 14px;
  color: #ededed;
  display: block;
}
.movie-detail span{
  font-size: 22px;
}
.mat-icon{
  transform: scale(2);

}
.movie-description{
  line-height: 24px;
} */

