
<div class="recommended">

    <h1 class="head">Showing Recommendations for {{titleMovie}}</h1>
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" #searchitem/>
        <span class="input-group-text border-0" id="search-addon" (click)="searchRequiredMovie(searchitem.value)">
          <i class="fas fa-search search-icon"></i>
        </span>
        <i class="fa-solid fa-rotate-right reset" matToolTip="Rest" (click)="reset()"></i>
      </div>
<div id="movieContainer" >
    <div class="card" *ngFor="let data of allRecommendedMovies">
        <img  src="https://image.tmdb.org/t/p/w300/{{data.poster_path }}">
        <div class="descriptions">
            <h1>{{data.original_title}}</h1>
            <br>
            <p>Release Date: {{data.release_date}}</p>
            <p>Rating: {{data.vote_average}}</p>
            <button (click)="movieDetails(data)">
                  More info
            </button>
        </div>
    </div>
</div>
<div style="margin:auto; padding-left: 500px;">
    <button [disabled]="currentPg<=1" (click)="decreasePage()" mat-raised-button>
        <mat-icon>navigate_before</mat-icon> Previous Page
    </button><button [disabled]="currentPg>=33349" (click)="increasePage()" mat-raised-button>Next Page
        <mat-icon>navigate_next</mat-icon> </button>
</div>
</div>
