/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.class{
    font-family: "Poppins",sans-serif;
    background-image: url("./assets/blur background.jpg");
    opacity: 1.0;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
