form {
  margin: 50px 50px 50px 50px;
  position: relative;
  width: 500px;
  height: 680px;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  background-color: rgba(7, 50, 78, 0.941);
  text-decoration: none;

}
h3{
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  margin-left: -30px;
}
a {
  text-decoration: none;
}

.loginPage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(248, 243, 243);
  height: 800px;
}

.footer {
  padding-top: 20px;
}

.top {
  padding-left: 10px;
  padding-top: 20px;
}

.container{
  height: 800px;
  background-color:  whitesmoke;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

 
.btn-warning{
  position: relative;
  padding: 11px 30px 11px 16px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  margin-left: 120px;
  background: linear-gradient(90deg,rgb(255,0,76),rgb(12,97,224));
  border: 0;
  transition: 0.2s;
  overflow: hidden;
}

.btn-warning input[type = "file"]{
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.btn-warning:hover{
  background-color: #d9a400;
}










